@import "../../pages/base";

.NavBar {
  color: rgba(53, 121, 179, 0.65);
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    z-index: 1;
    top: 45px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.15);
    color: #ffffff;
    text-align: center;

  }

  .ant-row {
    width: 100%;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      height: 40px;
      line-height: 40px;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }

  .NavBarItem {
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
    @media screen and (max-width: 768px) {
      line-height: inherit;
      border-bottom: none;
      &.active {
        background-color: $themeColor;
      }
    }

    .itemTotal {
      display: inline-block;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

  }

  //统计部分样式
  .ant-statistic {
    text-align: center;
    flex: 1;

    .ant-statistic-content {
      color: $themeColor;
      font-size: 14px;

    }

    .ant-statistic-content-suffix {
      color: #bbbbbb;
      font-size: 12px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

  }

}
