
ul {
  margin: 0 !important;
  padding: 0;
  list-style-type: none;
}

body, html {
  background-color: #f2f2f2 !important;
}

.card {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 6px 10px;
  box-shadow: 4px 4px rgba(200, 200, 200, 0.3);
}
