.containerMainRow {
  width: 80%;
  margin: 10px auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.children {
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-top: 86px;
  }
}

.backToTopContainer{
  @media screen and (max-width: 576px) {
    :global(.ant-back-top){
      right:20px;
    }
  }
  .backToTop{
    background-image: url("/icon/backTop.svg");
    background-size:cover;
    width:36px;
    height:36px;
    border-radius: 50%;

  }

}

