@import "../../pages/base";

.SideBar {
  .classify {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 16px;

    .title {
      font-size: 14px;
      color: $themeColor;
    }

    li {
      line-height: 1.8;
      font-size: 14px;
      a {
        &:hover {
          color: $themeColor;
        }

        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  .about {

  }

  .markNav {
    @extend .classify;

    padding: 0;
    .title {
      padding: 6px 10px 0;

    }
    .markdown-navigation{
      overflow: auto;
      max-height: 500px;
    }
    .markdown-navigation .title-anchor.active {
      font-weight: bold;
      color: $themeColor;
    }
    .markdown-navigation .title-level4{
      color:#666
    }
  }

  .rank {

  }

  .friend {
    margin-bottom: 0;
  }

}
