@import "../../pages/base";

.SideBar {
  .classify {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 16px;

    .title {
      color: $themeColor;
      font-size: 14px;

      & span {
        vertical-align: middle;
      }

      &::before {
        content: ' ';
        background-image: url("/icon/classify.svg");
        background-size: cover;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
      }

    }

    li {
      line-height: 1.8;
      font-size: 14px;
      a {
        &:hover {
          color: $themeColor;
        }

        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  .about {
    @extend .classify;

    .title {
      &::before {
        background-image: url("/icon/about.svg");
      }
    }

  }

  .markNav {
    @extend .classify;
    padding: 0;

    .title {
      padding: 6px 10px 0;

      &::before {
        background-image: url("/icon/nav.svg");
      }
    }

    .markdown-navigation .title-anchor.active {
      font-weight: bold;
      color: $themeColor;
    }
  }

  .rank {
    @extend .classify;
    margin-bottom: 0;

    .title {
      &::before {
        background-image: url("/icon/rank.svg");
      }
    }
  }

}
