@import "../../pages/base";

.SideBar{
  margin-top: 30px;
  .recommend{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    .title{
      color: $themeColor;
      font-size: 16px;
      & span{
        vertical-align: middle;
      }
      &::before{
        content: ' ';
       background-image: url("/icon/recommend.svg");
        background-size: cover;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;

      }

    }
    li{
      line-height: 1.8;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }

  .rank{
    @extend .recommend;
    margin-bottom: 0;
    .title{
      &::before{
        background-image: url("/icon/rank.svg") ;
      }
  }
  }

}
