@import "../../pages/base.scss";
.detail {
  margin: 0 20px 0 0;
  background-color: transparent;
  @media screen and (max-width: 768px) {
    margin:0 14px;
    min-height: calc(100vh - 160px);
  }
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 205px);
  }

  .otherMsg {
    padding-bottom: 18px;
    @media screen and (max-width: 768px) {
      padding-bottom: 8px;
    }
    .title {
      color: $themeColor;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;

    }

    .date {
      text-align: center;
      color: #cccccc;
      font-size: 12px;

      & > span:first-child {
        padding-right: 10px;
      }
    }
  }
}

.detailMain {
  background-color: #ffffff;
  padding: 6px 16px;
}
