@import "../../pages/base.scss";

.articleList {
  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 326px);
  }
}

.articleItem {
  padding: 10px 14px;
  margin-bottom: 14px;
  margin-right: 20px;
  min-height: 150px;
  box-shadow: 4px 4px rgba(200, 200, 200, 0.3);
  @media screen and (max-width: 768px) {
    margin: 14px 14px 0 14px;

    &:first-child {
      margin-top: 0px;
    }
  }


  .msg {
    flex: 3;
    display: flex;
    flex-direction: column;
    .title {
      color: $themeColor;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      padding-bottom: 12px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }


    .date {
      display: flex;
      flex-wrap: wrap;
      padding-top: 2px;
      .hotNumber {
        font-size: 14px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
        padding-right: 18px;
        position: relative;
      }

      span {
        color: #bbbbbb;
        display: inline-block;
      }

    }

    .introduce {
      font-size: 14px;
      color: #8c8b8b;
      overflow: auto;
      text-overflow: initial;
      white-space: initial;
      flex-basis: calc(100% - 56px);


    }
  }
}

.loadingText {
  text-align: center;
  color: #bbbbbb;
  @media screen and (max-width: 768px) {
    padding: 8px 0;
  }

}
