@import "../../pages/base.scss";

.shenglue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articleList {
  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 160px);
  }
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 205px);
  }
}

.articleItem {
  padding: 10px 14px;
  margin-bottom: 14px;
  margin-right: 20px;
  min-height: 150px;
  box-shadow: 4px 4px rgba(200, 200, 200, 0.3);
  @media screen and (max-width: 768px) {
    margin: 14px 14px 0 14px;

    &:first-child {
      margin-top: 0px;
    }
  }


  .msg {
    flex: 3;
    display: flex;
    flex-direction: column;
    @extend .shenglue;
    .title {
      @extend .shenglue;
      color: $themeColor;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      padding-bottom: 12px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }


    .date {
      display: flex;
      flex-wrap: wrap;
      padding-top: 2px;
      .hotNumber {
        font-size: 14px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
        padding-left: 14px;
        padding-right: 18px;
        position: relative;

        &::after {
          position: absolute;
          left: 0;
          top: 5px;
          @media screen and (max-width: 768px) {
            top: 3px;
          }
          content: '';
          background-size: cover;
          width: 12px;
          height: 12px;
        }
        &.type::after {
          background-image: url("/icon/classify.svg");
        }

        &.hot::after {
          background-image: url("/icon/hot.svg");
        }

        &.createDate::after {
          background-image: url("/icon/create_time.svg");
        }

        &.update_date::after {
          background-image: url("/icon/update_time.svg");
        }

      }

      span {
        color: #bbbbbb;
        display: inline-block;
      }

    }

    .introduce {
      font-size: 14px;
      color: #8c8b8b;
      overflow: auto;
      text-overflow: initial;
      white-space: initial;
      flex-basis: calc(100% - 56px);
      @media screen and (max-width: 768px) {
        flex-basis: calc(100% - 54px);
        font-size: 12px;
      }

    }
  }
}

.loadingText {
  text-align: center;
  color: #bbbbbb;
  @media screen and (max-width: 768px) {
    padding: 8px 0;
  }

}
