.shenglue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articleList {
  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 160px);
  }
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 205px);
  }
}

.articleItem {
  padding:10px;
  margin-bottom: 10px;
  margin-right: 20px;
  &:first-child {
    //margin-top: 10px;
  }
  @media screen and (max-width: 768px) {
    margin: 16px 16px 0 16px;

    &:first-child {
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 576px) {
    padding: 0;
    border-radius: 12px;
  }

  .cover {
    flex: 1;
    //width:250px;
    //height: 125px;

    margin-right: 8px;
    @media screen and (max-width: 576px) {
      width: 100%;
      height: auto;
      flex: none
    }

    img {
      width: 100%;
      @media screen and (max-width: 576px) {
        height:140px;
        border-radius:12px 12px 0 0;
      }
      //height:100%
    }
  }

  .msg {
    flex: 3;
    min-width: 150px;

    display: flex;
    flex-direction: column;
    @extend .shenglue;
    @media screen and (max-width: 576px) {
      padding: 10px 12px;

    }
    .title {

      @extend .shenglue;
      font-size: 17px;
      line-height: 17px;
      font-weight: bold
    }



    .date {
      .hotNumber {
        font-size: 12px;
        padding-left: 14px;
        padding-right:14px;
        position: relative;
        &::after{
          position: absolute;
          left:0;
          top:2px;
          content: '';
          background-size: cover;
          width:12px;
          height:12px;
        }
        &.hot::after{
          background-image: url("/icon/hot.svg");
        }
        &.createDate::after{
          background-image: url("/icon/create_time.svg");
        }
        &.update_date::after{
          background-image: url("/icon/update_time.svg");
        }

      }
      span{
        color:#bbbbbb;
        vertical-align: bottom;
      }
      @media screen and (min-width: 576px) and (max-width: 992px) {
        display: none;
      }
    }

    .introduce {
      font-size: 12px;
      color: #8c8b8b;
      overflow: auto;
      text-overflow: initial;
      white-space: initial;
      @media screen and (min-width: 992px) {
        flex-basis: calc(100% - 39px);
      }

    }
  }
}

.loadingText {
  text-align: center;
  color: #bbbbbb;
  @media screen and (max-width: 576px) {
    padding:4px 0;
  }

}
