@import "../../pages/base.scss";

.Header {
  background-image: url("/icon/default_bg.jpg");
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 768px) {
    height: 220px;
  }

  .HeaderMain {
    height: 45px;
    line-height: 45px;
    color: #dddddd;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    &.scrollStyle {
      background-color: rgba(80, 80, 80, 0.8);
      color: #aaaaaa;
      box-shadow: 0 0 15px 0 rgba(41, 36, 36, 0.8)
    }

    .name {
      color:$themeColor;
      font-size: 20px;
      cursor: pointer;
    }

    .type {
        font-size: 14px;

    }

    .headerRight {
      color: #dddddd;
      font-weight: bold;
      text-align: right;
      letter-spacing: 6px;
    }


  }



}

.aboutModal {
  .ant-modal {
    //width: 400px;
    max-width: 90%;
  }
}
.classifyText{
  font-size: 16px;
}
